extends _layout.pug

block content    
    .container
        h1.text-center  Presidential Election Results
        .row
            .col-lg-4
            #app.col-lg-4
                table.table.table-condensed.small.text-center
                    thead 
                        tr 
                            td this is a head
                    tbody                   
                        tr(is="resultsRow" v-for="result in results" v-bind:result="result")   
            .col-lg-4
