.barplot {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-size: small;     */
}

.county:hover {
    background-color: aquamarine;
    opacity: 1
}

.barplot-dem-county-win {
    fill: #9cc0e3;
}

.barplot-gop-county-win {
    fill: #e99d98;
}

.barplot-gop-county-flip {
    background: repeating-linear-gradient(
        45deg,
        #e99d98,
        #e99d98 10px,
        #9cc0e3 10px,
        #9cc0e3 20px        
    )
}

.barplot-gop-county-flip {
    background: repeating-linear-gradient(
        45deg,
        #9cc0e3,
        #9cc0e3 10px,
        #e99d98 10px,
        #e99d98 20px        
    )
}