.dem-county-win {
    background-color: #9cc0e3
}

.gop-county-win {
    background-color: #e99d98
}

.gop-county-flip {
    background: repeating-linear-gradient(
        45deg,
        #e99d98,
        #e99d98 10px,
        #9cc0e3 10px,
        #9cc0e3 20px        
    )
}

.gop-county-flip {
    background: repeating-linear-gradient(
        45deg,
        #9cc0e3,
        #9cc0e3 10px,
        #e99d98 10px,
        #e99d98 20px        
    )
}